<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://kit.fontawesome.com/722aff0915.js"
            crossorigin="anonymous"
    ></script>

    <title th:text="${add} ?'Add Employee' : 'Edit Employee'"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body class="bg-dark d-flex flex-column bd-highlight mb-3">
<h1
        class="text-light d-flex justify-content-center"
        th:text="${add} ? 'Add Employee' : 'Edit Employee'"
></h1>

<div class="button-return mx-auto my-2 d-flex justify-content-center">
    <a th:href="@{/v1/view/karyawan/list}">
        <button class="btn btn-outline-light">
            <i class="fa-solid fa-arrow-left"></i> Back To Employee List
        </button>
    </a>
</div>

<div class="form-wrapper my-1 d-flex justify-content-center">
    <form
            th:action="${add} ? @{/v1/view/karyawan/add} : @{/v1/view/karyawan/{karyawanId}/edit(karyawanId=${karyawan.id})}"
            th:object="${karyawan}"
            method="POST"
    >
        <table class="table table-borderless w-auto text-light fw-bold">
            <tr>
                <td>Name</td>
                <td>:</td>
                <td><input type="text" th:field="*{nama}"/></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>:</td>
                <td>
                    <!-- <input type="text" th:field="*{jk}" /> -->
                    <select
                            th:field="*{jk}"
                            th:value="${karyawan.jk}"
                            class="form-select"
                            aria-label="Default select example"
                    >
                        <option value="x" selected>Select Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="O">Other</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>:</td>
                <td>
                    <!-- <input type="text" th:field="*{dob}" /> -->
                    <input
                            type="date"
                            th:field="*{dob}"
                            id="date-of-birth"
                    />
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>:</td>
                <td><input type="text" th:field="*{alamat}"/></td>
            </tr>
            <tr>
                <td>ID Number</td>
                <td>:</td>
                <td>
                    <input type="text" th:field="*{detailKaryawan.nik}"/>
                </td>
            </tr>
            <tr>
                <td>Tax ID Number</td>
                <td>:</td>
                <td>
                    <input type="text" th:field="*{detailKaryawan.npwp}"/>
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td>:</td>
                <td>
                    <!-- <input type="text" th:field="*{status}" /> -->
                    <select
                            th:field="*{status}"
                            class="form-select"
                            aria-label="Default select example"
                    >
                        <option value="x" selected>Select Status</option>
                        <option value="Contract">Contract</option>
                        <option value="FT">Full-time</option>
                        <option value="PT">Part-time</option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="Submit" th:value="${add} ? 'Create' : 'Update'"/>
    </form>
</div>

<div
        th:if="${errorMessage}"
        th:utext="${errorMessage}"
        class="error"
></div>
</body>
</html>
</html>
